
Вітаємо!
Ви отримали цей лист, тому що запросили скидання пароля для вашого облікового запису в Resume Builder.
Щоб встановити новий пароль, натисніть посилання нижче:
"{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" 
Якщо посилання не працює, скопіюйте та вставте його у ваш браузер
Це посилання дійсне протягом 24 годин.
Якщо ви не запитували скидання пароля, просто проігноруйте цей лист.
2025 Resume Builder. Усі права захищені.
Цей лист було надіслано автоматично. Будь ласка, не відповідайте на нього.
